---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="404 - Annotation Cache">
    <h1 class="text-gradient">404</h1>
    <p style="text-align: center; font-size: 1.2rem;">
        Page not found. Head back to the
        <a href="/">homepage</a>.
    </p>
    <Footer />
</Layout>
