---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout title="Annotation Cache">
    <main>
        <h1>
            <span class="text-gradient"> <a href="/">Annotation Cache</a></span>
        </h1>
        <ul role="list" class="link-card-grid">
            <Card
                href="snpeff_cache/"
                title="snpeff cache"
                body="Learn more about snpeff cache."
            />
            <Card
                href="vep_cache/"
                title="VEP cache"
                body="Learn more about VEP cache."
            />
        </ul>
        <Footer />
    </main>
</Layout>
