<p class="footer">
    <a href="https://registry.opendata.aws/"
        ><img
            title="Open Data on AWS"
            src="/AWS_logo.png"
            height="60"
    /></a>
    <a href="https://nf-co.re/"
        ><img title="nf-core" src="/nf-core_logo.png" height="60"
    /></a>
</p>
