<p class="footer">
    This resource is based on <a href="https://pcingola.github.io/SnpEff/">SnpEff</a>
    and <a href="https://www.ensembl.org/info/docs/tools/vep/index.html">VEP</a>
    annotation caches, created for the <a href="https://nf-co.re/">nf-core</a>
    community. The caches were built with <a href="https://www.nextflow.io/">Nextflow</a>
    and <a href="https://cloud.seqera.io/">Seqera Platform</a>, and hosted on
    <a href="https://registry.opendata.aws/">AWS Open Data</a>.
    <br />
    <span class="footer-logos">
        <a href="https://registry.opendata.aws/"
            ><img
                title="Open Data on AWS"
                src="/AWS_logo.png"
                height="60"
        /></a>
        <a href="https://nf-co.re/"
            ><img title="nf-core" src="/nf-core_logo.png" height="60"
        /></a>
    </span>
</p>
