<p class="footer">
    <a href="https://github.com/annotation-cache"><i class="fa-brands fa-github"></i> Annotation-cache</a> is based on <a
        href="https://www.ensembl.org/info/docs/tools/vep/index.html"
        >Ensembl VEP</a
    >, <a href="https://pcingola.github.io/SnpEff/">SnpEff</a> and <a
        href="https://github.com/monarch-initiative/SvAnna">SvAnna</a
    >
    resources. It was created for the <a href="https://nf-co.re/">nf-core</a>
    community and was uploaded to S3 with the help of <a
        href="https://www.nextflow.io/">Nextflow</a
    >
    and <a href="https://cloud.seqera.io/">Seqera Platform</a>. All of that was
    made possible by
    <a href="https://registry.opendata.aws/">Open Data on AWS</a>.
    <br />
    <span class="footer-logos">
        <a href="https://registry.opendata.aws/" class="logo-aws"
            ><img title="Open Data on AWS" src="/AWS_logo.svg" height="40" /></a
        >
        <a href="https://www.nextflow.io/" class="logo-nextflow"
            ><img title="Nextflow" src="/nextflow-icon.svg" height="32" /></a
        >
        <a href="https://nf-co.re/"
            ><img title="nf-core" src="/nf-core-logo.svg" height="40" /></a
        >
    </span>
</p>
