---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} - Annotation Cache`}>
    <div class="page-card">
        <h2>{frontmatter.title}</h2>
        <slot />
    </div>
    <Footer />
</Layout>
